<div class="row">
  <div class="col-10 offset-1 row config-cards">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <i class="icon fa fa-github"></i>
          GitHub Config
          <span *ngIf="configService.github.isConfigured()" class="badge badge-success">Valid Input</span>
          <span *ngIf="!configService.github.isConfigured()" class="badge badge-danger">Invalid Input</span>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Team Name</label>
            <input type="text" class="form-control input-lg"
                   [ngModel]="getGitHubConfigValue('team')" (ngModelChange)="setGitHubConfigValue('team', $event)"/>
          </div>
          <div class="form-group">
            <label>Team Id</label>
            <input type="text" class="form-control input-lg"
                   [ngModel]="getGitHubConfigValue('teamId')" (ngModelChange)="setGitHubConfigValue('teamId', $event)"/>
          </div>
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control input-lg"
                   [ngModel]="getGitHubConfigValue('userName')"
                   (ngModelChange)="setGitHubConfigValue('userName', $event)"/>
          </div>
          <div class="form-group">
            <label>Token</label>
            <input type="text" class="form-control input-lg"
                   [ngModel]="getGitHubConfigValue('token')" (ngModelChange)="setGitHubConfigValue('token', $event)"/>
          </div>
          <div class="form-group">
            <label>Watch Repos</label>
            <input type="text" class="form-control input-lg"
                   [ngModel]="getGitHubConfigValue('watchList')"
                   (ngModelChange)="setGitHubConfigValue('watchList', $event)"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <i class="icon fa fa-windows"></i>
          VSTS Config
          <span *ngIf="configService.vsts.isConfigured()" class="badge badge-success">Valid Input</span>
          <span *ngIf="!configService.vsts.isConfigured()" class="badge badge-danger">Invalid Input</span>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Team Name</label>
            <select class="form-control input-lg"
                    [ngModel]="getVstsConfigValue('team')" (ngModelChange)="setVstsConfigValue('team', $event)">
              <option *ngFor="let team of teams" [ngValue]="team">{{team}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control input-lg" placeholder="first.last@blackbaud.me"
                   [ngModel]="getVstsConfigValue('username')" (ngModelChange)="setVstsConfigValue('username', $event)"/>
          </div>
          <div class="form-group">
            <label>Token</label>
            <input type="text" class="form-control input-lg"
                   [ngModel]="getVstsConfigValue('token')" (ngModelChange)="setVstsConfigValue('token', $event)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto text-center">
  <button type="button" class="btn btn-primary"
          (click)="saveConfig()"
          [ngClass]="{'disabled': !configService.isConfigured()}">
    Save Configuration
  </button>
</div>
