<div class="col-md-12 row labelBar">
  <div class="col-md-1" id="team-name">
    <span class="badge badge-dark">{{team}}</span>
  </div>
  <div class="col-md-10"></div>
  <div class="col-md-1">
    <span class="badge badge-dark" *ngIf="loading">
      <i class="fa fa-spinner fa-spin"></i>
      Loading
    </span>
  </div>
</div>

<div class="action-item-list" *ngIf="lastCount > 0">
  <div *ngFor="let actionItem of actionItems">
    <div *ngIf="actionItem.type === 'pr'">
      <mf-pull-request [pr]="actionItem"></mf-pull-request>
    </div>

    <div *ngIf="actionItem.type === 'build' || actionItem.type === 'release'">
      <mf-build [build]="actionItem"></mf-build>
    </div>
  </div>
</div>

<mf-sprint-lit id="sprint-lit" *ngIf="lastCount == 0"></mf-sprint-lit>
